<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action='/users/{{user.id}}' method='post'>
        {%csrf_token%}
        <h3>Edit User {{user.id}}</h3>
        <label>First name:
            <input type='text' name='first_name' value={{user.first_name}}>
        </label>
        <label>Last name:
            <input type='text' name='last_name' value={{user.last_name}}>
        </label>
        <label>Email:
            <input type='text' name='email' value={{user.email}}>
        </label>
        <button>Update</button>
    </form>
    <a href='/users/{{user.id}}'>Show</a>
    <a href='/users'>Go Back</a>
</body>

</html>